current time is {{ ansible_date_time.iso8601 }}
number of processor is {{ ansible_processor_count }}
hostname is {{ ansible_hostname }}
system type is {{ ansible_os_family }}
kernel version is {{ ansible_kernel }}
timezone is {{ ansible_date_time.tz }}
